[redis_redis-stable]
name=redis_redis-stable
baseurl=https://packagecloud.io/redis/redis-stable/el/7/$basearch
repo_gpgcheck=1
gpgcheck=0
enabled=1
gpgkey=https://packagecloud.io/redis/redis-stable/gpgkey
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300